@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

* {
  font-family: "Basic";
}

.component {
  margin-top: 8%;
}

.container-fluid {
  padding: 20px;
}

.icon {
  font-size: 18px;
  margin-right: 20px;cursor: pointer;
}

.navbar-brand {
  color: #ffffff;
  margin-left: 15px;
  margin-bottom: 2px;
}

.nav-item {
  margin-right: 30px;
  display: inline-block;
  position: relative;
}

.nav-link {
  font-family: 'Basic';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.8px;
  color: black !important;
}

.nav-link:hover {
  background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
  color: white !important;
}

.form-check {
  margin-right: 30px;

}
.form-check .dm {
  font-size: 16px;
  font-family: 'Basic';
}

.darkmode {
  background-color: #1B1A17;
}

.darkmode .navbar {
  background-color: #1B1A17 !important;
}

.darkmode .nav-link {
  color: #fff !important;
}

.darkmode .dm {
  color: #fff !important;
}

.darkmode .card {
  background-color: #1B2430 !important;
}

.darkmode p {
  color: #fff !important;
}

#home {
  margin-bottom: 120px;
}

.k1 {
  width: 100px;
  height: 120px;
  margin-left: 110px;
  background-color: #020E35;
  margin-top: -44px !important;
  position: absolute;
}

.k2 {
  height: 6px;
  margin-top: 31px;
  background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
}

.shape {
  margin-top: 40px;
  margin-left: 30px;
}

.p1 {
  margin-left: 20px;
  margin-top: 100px;
  font-family: 'Basic';
  font-style: normal;
  font-weight: 400;
  font-size: 97px;
  line-height: 122px;
  color: #020E35;
}

.img1 {
  width: 115%;
  height: 500px;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 5px;
}

.popup {
  opacity: 0;
  pointer-events: none;
  transition: top 0s 0.2s ease-in-out,
    opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
}

.popup .container {
  border-radius: 15px;
  background-color: #06283D;
  max-width: 70%;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
  transform: translate(0%, -100%);
}

.popup.show {
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transition: top 0s 0s ease-in-out,
    opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;

}

.popup_button {
  width: 140px;
  height: 40px;
  margin-left: 20px;
  background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
  text-align: center;
  color: white;
}

.popup .container .row {
  padding: 50px;
}

.popup .container .card {
  padding: 20px;
  width: 400px;

}

.judul_card {
  font-size: 40px;
}

.close {
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-size: 27px;
  height: 33px;
  width: 33px;
  cursor: pointer;
  border-radius: 100px;
  transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
}

.close:hover {
  background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
}

#about {
  margin-top: -520px;
}

#about h1 {
  font-family: 'Basic';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #020E35;
}

#about .line {
  margin-bottom: 5px;
  width: 100px;
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #E73587 !important;
}

#about div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about div p {
  width: 823px;
  height: 75px;
  font-family: 'Basic';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #2B2B2B;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.oval {
  margin-top: -200px;
}

#services h1 {
  font-family: 'Basic';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #020E35;
}

#services .line {
  margin-bottom: 5px;
  width: 100px;
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #E73587 !important;
}

.container {
  display: flex;
}

#kotak1 {
  background-color: #FDF8E3;
}

#kotak2 {
  background-color: #F0F3FA;
}

#kotak3 {
  background-color: #FEEFF0;
}

#kotak4 {
  background-color: #FDF8E3;
}

#kotak5 {
  background-color: #F0F3FA;
}

#kotak6 {
  background-color: #FEEFF0;
}

#kotak1 img {
  margin: 7px;
  width: 100%;
  height: 284px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}

#kotak2 img {
  margin: 7px;
  width: 100%;
  height: 284px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}

#kotak3 img {
  margin: 7px;
  width: 100%;
  height: 284px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}

#kotak4 img {
  margin: 7px;
  width: 100%;
  height: 284px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}

#kotak5 img {
  margin: 7px;
  width: 100%;
  height: 284px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}

#kotak6 img {
  margin: 7px;
  width: 100%;
  height: 284px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}

.judul {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #2B2B2B;
}

.pgr {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #2B2B2B;
  margin-left: 8px;
  margin-right: 8px;
}

.btn {
  width: 140px;
  height: 40px;
  background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
  align-items: center;
  justify-content: center;
}

.container-services {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.container-services::-webkit-scrollbar {
  display: none;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 76px;
  height: 76px;
  margin-top: 20%;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
  border: 2px solid #FFFFFF;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.5;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
  opacity: 0;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  z-index: 20px;
}

.back-to-top.show {
  bottom: 20px;
  opacity: 1;
}

.back-to-top svg {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.fakeLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 9999999999; }

.spinner5 {
  position: fixed;
  width: 50px;
  height: 50px;
  top: calc(50% - 50px/2);
  left: calc(50% - 50px/2); }
  .spinner5 .cube1,
  .spinner5 .cube2 {
    background-color: #fff;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: cubemove 1.8s infinite ease-in-out;
            animation: cubemove 1.8s infinite ease-in-out; }
  .spinner5 .cube2 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
            transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
            transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
            transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
            transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

@keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
            transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
            transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
            transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
            transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

@media (max-width: 1283px) {
  .popup .container .card {
    width: 150%;
  }
}

@media (max-width: 1075px) {
  .oval {
    margin-top: -200px;
    height: 200px;
    width: 100px;
  }
}

@media (max-width: 999px) {
  .oval {
    height: 100px;
    width: 50px;
  }
}

@media (max-width: 991px) {
  .img1 {
    margin-top: 120px;
  }
  .p1 {
    margin-top: 20px;
  }
  .k1 {
    width: 80px;
    height: 100px;
    margin-top: -50px !important;
  }
  .k2 {
    margin-top: 30px !important;
  }
  .shape {
    margin-top: 20px !important;
    margin-left: 20px !important;
  }
}

@media (max-width: 915px) {
  .oval {
    height: 300px;
    width: 25px;
    margin-right: 20px;
  }
}

@media (max-width: 850px) {
  #about {
    margin-top: -680px;
    margin-bottom: 30px;
  }
  .pre-btn, .nxt-btn {
    margin-top: 35%;
  }
}

@media (max-width: 767px) {
  .p1 {
    margin-top: -5px;
  }

  .img1 {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .popup .container .card {
    width: 100%;
  }

  #about {
    margin-top: -950px;
    margin-bottom: 30px;
  }

  #about div p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .oval {
    width: 20px;
    height: 220px;
  }
  
  .pre-btn, .nxt-btn {
    margin-top: 40%;
  }
}

@media (max-width: 740px) {
  .k1 {
    margin-left: 0px !important;
  }
  .pre-btn, .nxt-btn {
    margin-top: 43%;
  }
}

@media (max-width: 545px) {
  .popup .container {
    margin-top: 100px;
  }
  .pre-btn, .nxt-btn {
    margin-top: 60%;
  }
}

@media (max-width: 500px) {
  #about {
    margin-top: -1300px;
  }

  .pre-btn, .nxt-btn {
    margin-top: 70%;
  }

  .popup .container {
    margin-top: 200px;
  }
}

@media (max-width: 467px) {
  .p1 {
    text-align: center;
  }

  .pre-btn, .nxt-btn {
    margin-top: 45%;
  }

  .popup_button {
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
  }
}