@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");

* {
  font-family: "Basic";
}

@font-face {
  font-family: "bloms";
  src: url("../font/Gloss_And_Bloom.ttf");
}

body {
  margin: 0px;
  padding: 0px;
}

.main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(80deg, #110e1f, #1b1730);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

.text {
  width: 100%;
  height: 100vh;
  background-image: url(../img/3.jpg);
  background-size: 100% 100%;
  background-position: center;
  font-size: 65px;
  font-family: "bloms" !important;
  text-align: center;
  line-height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  color: #d2006b;
  -webkit-background-clip: text;
  pointer-events: none;
  animation: anim1 1s infinite, anim2 10s, forwards;
}

@keyframes anim1 {
  0% {
    background-image: url(../img/1.jpg);
  }

  10% {
    background-image: url(../img/2.jpg);
  }

  20% {
    background-image: url(../img/3.jpg);
  }

  30% {
    background-image: url(../img/4.jpg);
  }

  40% {
    background-image: url(../img/5.jpg);
  }

  50% {
    background-image: url(../img/6.jpg);
  }

  60% {
    background-image: url(../img/7.jpg);
  }

  70% {
    background-image: url(../img/8.jpg);
  }

  80% {
    background-image: url(../img/9.jpg);
  }

  90% {
    background-image: url(../img/10.jpg);
  }

  100% {
    background-image: url(../img/1.jpg);
  }
}

@keyframes anim2 {
  from {
    color: #d2006b;
  }

  to {
    color: transparent;
  }
}

.title {
  font-family: monospace;
  font-size: 12px;
  color: white;
  letter-spacing: 5px;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bar {
  width: 80px;
  height: 2px;
  background-color: #282246;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#fill {
  width: 0%;
  height: 100%;
  background-color: white;
  position: relative;
  top: 0px;
  left: 0px;
}

.component {
  margin-top: 8%;
}

.container-fluid {
  padding: 20px;
}

.icon {
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
}

.navbar-brand {
  color: #ffffff;
  margin-left: 15px;
  margin-bottom: 2px;
}

.nav-item {
  margin-right: 30px;
  display: inline-block;
  position: relative;
}

.nav-link {
  font-family: "Basic";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.8px;
  color: black !important;
}

.nav-link:hover {
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  color: white !important;
}

.form-check {
  margin-right: 30px;
}

.form-check-input {
  cursor: pointer;
}

.form-check .dm {
  font-size: 16px;
  font-family: "Basic";
}

.darkmode {
  background-color: #1b1a17;
}

.darkmode .navbar {
  background-color: #1b1a17 !important;
}

.darkmode .nav-link {
  color: #fff !important;
}

.darkmode .dm {
  color: #fff !important;
}

.darkmode .card {
  background-color: #1b2430 !important;
}

.darkmode p {
  color: #fff !important;
}

#home {
  margin-bottom: 120px;
}

.k1 {
  width: 100px;
  height: 120px;
  margin-left: 110px;
  background-color: #020e35;
  margin-top: -44px !important;
  position: absolute;
}

.k2 {
  height: 6px;
  margin-top: 31px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
}

.shape {
  margin-top: 40px;
  margin-left: 30px;
}

.p1 {
  margin-left: 20px;
  margin-top: 100px;
  font-family: "Basic";
  font-style: normal;
  font-weight: 400;
  font-size: 97px;
  line-height: 122px;
  color: #020e35;
}

.img1 {
  width: 115%;
  height: 500px;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 5px;
}

.popup {
  opacity: 0;
  pointer-events: none;
  transition: top 0s 0.2s ease-in-out, opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}

.popup .container {
  border-radius: 15px;
  background-color: #06283d;
  max-width: 70%;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
  transform: translate(0%, -100%);
}

.popup.show {
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transition: top 0s 0s ease-in-out, opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}

.popup_button {
  width: 140px;
  height: 40px;
  margin-left: 20px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  text-align: center;
  color: white;
}

.popup .container .row {
  padding: 50px;
}

.popup .container .card {
  padding: 20px;
  width: 400px;
}

.popup .container .c1 {
  margin-left: -15px !important;
}

.popup .container .card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.judul_card {
  font-size: 40px;
}

.close {
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-size: 27px;
  height: 33px;
  width: 33px;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.1s linear, border-color 0.1s linear, color 0.1s linear;
}

.close:hover {
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
}

#about {
  margin-top: -520px;
  margin-bottom: 30px;
}

#about h1 {
  font-family: "Basic";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #020e35;
}

#about .line {
  margin-bottom: 5px;
  width: 100px;
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #e73587 !important;
}

#about div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about div p {
  width: 823px;
  height: 75px;
  font-family: "Basic";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #2b2b2b;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.oval {
  margin-top: -200px;
}

#services h1 {
  font-family: "Basic";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #020e35;
}

#services .line {
  margin-bottom: 5px;
  width: 100px;
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #e73587 !important;
}

.container {
  display: flex;
}

#kotak1 {
  background-color: #fdf8e3;
}

#kotak2 {
  background-color: #f0f3fa;
}

#kotak3 {
  background-color: #feeff0;
}

#kotak4 {
  background-color: #fdf8e3;
}

#kotak5 {
  background-color: #f0f3fa;
}

#kotak6 {
  background-color: #feeff0;
}

#kotak1 img {
  margin: 7px;
  width: 100%;
  height: 284px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}

#kotak2 img {
  margin: 7px;
  width: 100%;
  height: 284px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}

#kotak3 img {
  margin: 7px;
  width: 100%;
  height: 284px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}

#kotak4 img {
  margin: 7px;
  width: 100%;
  height: 284px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}

#kotak5 img {
  margin: 7px;
  width: 100%;
  height: 284px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}

#kotak6 img {
  margin: 7px;
  width: 100%;
  height: 284px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}

.judul {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #2b2b2b;
}

.pgr {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #2b2b2b;
  margin-left: 8px;
  margin-right: 8px;
}

.btn {
  width: 140px;
  height: 40px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  align-items: center;
  justify-content: center;
}

.container-services {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.container-services::-webkit-scrollbar {
  display: none;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 76px;
  height: 76px;
  margin-top: 20%;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  border: 2px solid #ffffff;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  width: 15px;
  height: 30px;
  opacity: 0.5;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  opacity: 0;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  z-index: 20px;
  cursor: pointer;
}

.back-to-top.show {
  bottom: 20px;
  opacity: 1;
}

.back-to-top svg {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#portofolio {
  background-color: #020e35;
  color: #ffffff;
}

.coll {
  height: 390px;
  width: 587px;
  left: 135px;
  top: 1951px;
  border-radius: 0px;
  background: #f09532;
}

.coll img {
  height: 390px;
  width: 433px;
  left: 212px;
  top: 1951px;
  border-radius: 0px;
}

#contact {
  margin-top: 10%;
}

#bener {
  margin-right: 50%;
}

#contact .container h3 {
  width: 584px;
  height: 38px;
  left: 135px;
  top: 3941px;
  font-family: "Basic";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
}

#contact .container h1 {
  width: 584px;
  height: 220px;
  left: 135px;
  top: 3971px;
  font-family: "Basic";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 110px;
  color: #020e35;
}

#form {
  margin-left: 60%;
  margin-top: -23%;
}

.pops {
  width: 585px;
  height: 48px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  text-align: center;
  color: white;
}

footer {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #020e35;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: #fcfcfc;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.sosial {
  display: flex;
}

.sosial a {
  width: 30px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  border: 2px solid white;
}

.sosial a:hover {
  transform: scale(1.3);
  transition: 0.5s;
  background: transparent;
  border: 2px solid red;
}

.end {
  position: absolute;
  color: white;
  bottom: 65px;
  font-size: 16px;
}

@media (max-width: 1283px) {
  .popup .container .card {
    width: 150%;
  }
}

@media (max-width: 1075px) {
  .oval {
    margin-top: -200px;
    height: 200px;
    width: 100px;
  }
}

@media (max-width: 999px) {
  .oval {
    height: 100px;
    width: 50px;
  }
}

@media (max-width: 991px) {
  .img1 {
    margin-top: 120px;
  }

  .p1 {
    margin-top: 20px;
  }

  .k1 {
    margin-top: -50px !important;
  }

  .k2 {
    margin-top: 40px !important;
  }

  .shape {
    margin-top: 30px !important;
    margin-left: 30px !important;
  }
}

@media (max-width: 915px) {
  .oval {
    height: 300px;
    width: 25px;
    margin-right: 20px;
  }
}

@media (max-width: 850px) {
  #about {
    margin-top: -680px;
    margin-bottom: 30px;
  }

  .pre-btn,
  .nxt-btn {
    margin-top: 35%;
    width: 56px;
    height: 56px;
  }
}

@media (max-width: 767px) {
  .p1 {
    margin-top: 15px;
  }

  .img1 {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .popup .container .card {
    width: 100%;
  }

  #about {
    margin-top: -950px;
    margin-bottom: 30px;
  }

  #about div p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .oval {
    width: 20px;
    height: 220px;
  }

  .pre-btn,
  .nxt-btn {
    margin-top: 40%;
  }

  .popup .container .c2 {
    margin-left: -15px !important;
  }
}

@media (max-width: 740px) {
  .k1 {
    margin-left: 50px !important;
  }

  .pre-btn,
  .nxt-btn {
    margin-top: 43%;
  }
}

@media (max-width: 545px) {
  .popup .container {
    margin-top: 100px;
  }

  .pre-btn,
  .nxt-btn {
    margin-top: 60%;
    width: 56px;
    height: 56px;
  }

  #about {
    margin-top: -1110px;
  }
}

@media (max-width: 500px) {
  #about {
    margin-top: -1300px;
    margin-bottom: 50px;
  }

  .pre-btn,
  .nxt-btn {
    margin-top: 70%;
  }

  .popup .container {
    margin-top: 200px;
  }
}

@media (max-width: 467px) {
  .p1 {
    text-align: center;
  }

  .pre-btn,
  .nxt-btn {
    margin-top: 45%;
  }

  .popup_button {
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
  }

  #about {
    margin-top: -1400px;
  }
}
